  <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <!-- <div class="sidebar-heading">SIDEBAR</div> -->
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">EXISTING INVENTORY</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">USED INVENTORY</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">FIND US</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">SUPPORT</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">GET NEWSLETTER</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">NEWS</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">CHARGING</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">SEMI</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">CARBON IMPACT</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">UNITED STATES</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
