.carousel-caption {
  position: absolute;
  z-index: 10;
  display:table;
  height:100%;
  padding-top: 5%;
  padding-bottom: 20px;
  left: 7%;
  right: 10%;
  bottom: 20px;
}
.h-0 {
  height: 500px;
}
.customHover {
  color: black;
}
.customHover:hover {
  color: black;
}
.btn-customHover {
  background-color: whitesmoke;
}
.existingHover {
  color: white;
}
.existingHover:hover {
  color: black;
}
.btn-existingHover:hover {
  background-color: white;
  color: black;
}
a {
  text-decoration: none;
}
