<div class="wrapper fadeInDown mt-5">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h2>Sign In</h2>
    </div>
    <hr style="margin: 0pt 25pt 10pt 25pt">
    <!-- Login Form -->
    <form>
      <div class="form-group">
          <input type="text" id="email" class="fadeIn second LatoRegular form-control rounded text-left text-secondary" name="Email" placeholder="email">
          <input type="text" id="password" class="fadeIn third LatoRegular form-control rounded text-left text-secondary" name="Password" placeholder="password">
          <input type="submit" class="fadeIn fourth rounded" value="Sign In">
          <a class="underlineHover" href="/reset">Forgot Password?</a>
      </div>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="fadeIn fourth" href="/register">Create an account</a>
    </div>

  </div>
</div>
