@import "~font-awesome/css/font-awesome.css";

@font-face {
  font-family: "Gotham Light";
  src: url("assets/fonts/Gotham/Gotham.eot") format("embedded-opentype"),
       url("assets/fonts/Gotham/Gotham.woff") format("woff"),
       url("assets/fonts/Gotham/GothamGotham.ttf") format("truetype"),
       url("assets/fonts/Gotham/Gotham.svg") format("svg");

       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: "Gotham Medium";
  src: url("assets/fonts/GM/Gotham-Medium.ttf") format("truetype"),
       url("assets/fonts/GM/Gotham-Medium.eot") format("embedded-opentype"),
       url("assets/fonts/GM/Gotham-Medium.woff") format("woff"),
       url("assets/fonts/GM/Gotham-Medium.svg") format("svg");

       font-weight: normal;
       font-style: normal;
}

@font-face {
    font-family: 'Lato Regular';
    src: url('/src/assets/fonts/Lato/Lato-Regular-webfont.eot');
    src: url('/src/assets/fonts/Lato/Lato-Regular-webfont.eot') format('embedded-opentype'),
         url('/src/assets/fonts/Lato/Lato-Regular-webfont.woff') format('woff'),
         url('/src/assets/fonts/Lato/Lato-Regular-webfont.ttf') format('truetype'),
         url('/src/assets/fonts/Lato/Lato-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lato Bold';
    src: url('/src/assets/fonts/Lato/Lato-Bold-webfont.eot');
    src: url('/src/assets/fonts/Lato/Lato-Bold-webfont.eot') format('embedded-opentype'),
         url('/src/assets/fonts/Lato/Lato-Bold-webfont.woff') format('woff'),
         url('/src/assets/fonts/Lato/Lato-Bold-webfont.ttf') format('truetype'),
         url('/src/assets/fonts/Lato/Lato-Bold-webfont.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Italic';
    src: url('/src/assets/fonts/Lato/Lato-Italic-webfont.eot');
    src: url('/src/assets/fonts/Lato/Lato-Italic-webfont.eot?') format('embedded-opentype'),
         url('/src/assets/fonts/Lato/Lato-Italic-webfont.woff') format('woff'),
         url('/src/assets/fonts/Lato/Lato-Italic-webfont.ttf') format('truetype'),
         url('/src/assets/fonts/Lato/Lato-Italic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato Bold Italic';
    src: url('/src/assets/fonts/Lato/Lato-BoldItalic-webfont.eot');
    src: url('/src/assets/fonts/Lato/Lato-BoldItalic-webfont.eot?') format('embedded-opentype'),
         url('/src/assets/fonts/Lato/Lato-BoldItalic-webfont.woff') format('woff'),
         url('/src/assets/fonts/Lato/Lato-BoldItalic-webfont.ttf') format('truetype'),
         url('/src/assets/fonts/Lato/Lato-BoldItalic-webfont.svg') format('svg');
    font-weight: bold;
    font-style: italic;
}

html,body,div,span,a,li,td,th {
  font-family: "Gotham Medium";
  font-weight: 400;
  font-size: 10pt;
  line-height: 18pt;
}
h2 {
  font-family: "Gotham Medium";
  font-weight: 400;
  font-size: 30pt;
  line-height: 25pt;
}
.MontserratRegular {
font-family: "MontserratRegular";
}
.LatoRegular {
font-family: "Lato Regular";
}
.LatoBold {
font-family: "Lato Bold";
}
.LatoItalic {
font-family: "Lato Italic";
}
.LatoBoldItalic {
font-family: "Lato Bold Italic";
}
.logo {
  font-family: "Gotham Light";
  font-weight: 500;
  font-size: 15pt;
  line-height: 2pt;
}

.carousel-caption {
  position: absolute;
  z-index: 10;
  display:table;
  height:100%;
  padding-top: 5%;
  padding-bottom: 20px;
  left: 7%;
  right: 10%;
  bottom: 20px;
}
.h-0 {
  height: 657px;
}
.customHover {
  color: black;
}
.customHover:hover {
  color: black;
}
.btn-customHover {
  background-color: whitesmoke;
}
.existingHover {
  color: white;
}
.existingHover:hover {
  color: black;
}
.btn-existingHover:hover {
  background-color: white;
  color: black;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
u {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
u:hover {
  color: black;
}
input.rounded {

  border: 1px solid #ccc;

  /* Safari 5, Chrome support border-radius without vendor prefix.
   * FF 3.0/3.5/3.6, Mobile Safari 4.0.4 require vendor prefix.
   * No support in Safari 3/4, IE 6/7/8, Opera 10.0.
   */
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  /* Chrome, FF 4.0 support box-shadow without vendor prefix.
   * Safari 3/4/5 and FF 3.5/3.6 require vendor prefix.
   * No support in FF 3.0, IE 6/7/8, Opera 10.0, iPhone 3.
   * change the offsets, blur and color to suit your design.
   */
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;

  /* using a bigger font for demo purposes so the box isn't too small */
  font-size: 20px;

  /* with a big radius/font there needs to be padding left and right
   * otherwise the text is too close to the radius.
   * on a smaller radius/font it may not be necessary
   */
  padding: 4px 7px;

  /* only needed for webkit browsers which show a rectangular outline;
   * others do not do outline when radius used.
   * android browser still displays a big outline
   */
  outline: 0;

  /* this is needed for iOS devices otherwise a shadow/line appears at the
   * top of the input. depending on the ratio of radius to height it will
   * go all the way across the full width of the input and look really messy.
   * ensure the radius is no more than half the full height of the input,
   * and the following is set, and everything will render well in iOS.
   */
  -webkit-appearance: none;

}

input.rounded:focus {

  /* supported IE8+ and all other browsers tested.
   * optional, but gives the input focues when selected.
   * change to a color that suits your design.
   */
  border-color: #339933;

}
